/*font-family: 'Roboto Mono', monospace;*/
/*font-family: 'Inconsolata', monospace;*/
/*font-family: 'Work Sans', sans-serif;*/
/*font-family: 'Prompt', sans-serif;*/

body {
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

.banner {
    width: 100%;
    overflow: hidden;
}

.top-background {
    /*  making the video fullscreen  */
    min-width: 100%;
    min-height: 600px;
    max-height: 700px;
    height: auto;
    z-index: -100;
    pointer-events:none;
}
@media only screen and (min-width: 480px) {
    .top-background {
        max-height: initial;
        min-height: 800px;
    }
}
@media only screen and (min-width: 768px) {
    .top-background {
        min-height: 100vh;
    }
}
.top-background.placeholder {
    z-index: -150;
    position: absolute;
    background: black;
    color: #6dcafa;
    top: 0;
    bottom: 0;
}

.brand {
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 0.6em;
}

.gsw-logo {
    width: 250px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}
@media only screen and (min-width: 480px) {
    .gsw-logo {
        width: 400px;
    }
}
@media only screen and (min-width: 768px) {
    .gsw-logo {
        margin-bottom: 50px;
    }
}

#section1 {
    background-color: white;
}

.section {
    padding: 40px 20%;
    font-size: 1em;
}
@media only screen and (min-width: 480px) {
    .section {
        padding: 70px 20%;
        font-size: 1.4em;
    }
}

.section-header {
    font-size: 1em;
    font-weight: 700;
    margin-top: 30px;
}
@media only screen and (min-width: 480px) {
    .section-header {
        font-size: 2em;
    }
}

#newsletter_section {
    padding-top: 20px;

}
#newsletter_section .section-header {
    margin-top: 0;
}

.parallax-window {
    min-height: 200px;
}
@media only screen and (min-width: 480px) {
    .parallax-window {
        min-height: 400px;
    }
}

#section2 {
    width: 100%;
    height: 200px;
    position: relative;
    align-items: center;
}
@media only screen and (min-width: 480px) {
    #section2 {
        min-height: 400px;
    }
}

#numbers {
    margin: 0 auto;
    width:70%;
    padding-top: 100px;
}
.number-section {
    font-size:3em;
    display: inline-block;
    margin-right: 9%;
}

.number {
    font-size: 1.5em;
    color: #dd4f33;
}

.number-label {
    color: white;
}

.parallax-text {
    font-size: 4em;
    font-weight: 800;
    color: white;
    text-align: center;
    line-height: 200px;
}
@media only screen and (min-width: 480px) {
    .parallax-text {
        min-height: 400px;
        line-height: 400px;
    }
}

.brand-text {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}
@media only screen and (min-width: 768px) {
    .brand-text {
        font-size: 25px;
    }
}

.brand-subtitle {
    display: none;
}
@media only screen and (min-width: 480px) {
    .brand-subtitle {
        display: block;
        color: white;
        font-size: 20px;
        font-weight: 500;
        font-style: italic;
        margin-top: 15px;
        margin-bottom: 40px;
    }
}

.brand-title {
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 30px;
}
@media only screen and (min-width: 480px) {
    .brand-title {
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
}

.brand-highlight {
    background-color: red;
    padding: 4px 8px;
}

.brand-button {
    background-color: transparent;
    color: white;
    border: 3px solid white;
    border-radius: 0px;
    font-size: 10px;
    padding: 5px 10px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 10px;
    letter-spacing: 2px;
}
@media only screen and (min-width: 768px) {
    .brand-button {
        font-size: 15px;
        padding: 10px;
    }
}

.brand-theme {
    color: white;
    font-size: 40px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media only screen and (min-width: 480px) {
    .brand-theme {
        font-size: 50px;
    }
}
@media only screen and (min-width: 768px) {
    .brand-theme {
        font-size: 60px;
    }
}

.brand-button:hover {
    opacity: 0.5;
}

.partner-logo {
    width: 200px;
    height: auto;
    margin: 0 auto;
}

@media only screen and (min-width: 480px) {
    .partner-logo {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.countdown-wrapper {
    color: white;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    bottom: 120px;
    left: 5%;
    width: 90%;
    display: block;
}
@media only screen and (min-width: 768px) {
    .countdown-wrapper {
        font-size: 25px;
        bottom: 105px;
        right: 5%;
    }
}

.countdown-wrapper .countdown {
    margin-left: -12px;
}

.countdown {
    margin-right: 5%;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
@media only screen and (min-width: 768px) {
    .countdown {
        float: right;
        bottom: 85px;
        font-size: 25px;
        margin-right: 5%;
    }
}

.timeblock {
    display: inline-block;
    float: left;
    margin-left: 12px;
    text-align: right;
}
@media only screen and (min-width: 768px) {
    .timeblock {
        margin-left: 12px;
    }
}

.time-label {
    font-size: 0.4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #dd4f33;
}

.fa {
    font-size: 3em !important;
    text-align: center !important;
    color: #0A1C3F !important
}

.partner-icon {
    height: 150px;
    display: inline-block;
    margin-right: 15px;
    float: right;
}

#partner-icons {
    display: none;
    right: 5%;
}
@media only screen and (min-width: 768px) {
    #partner-icons {
        display: block;
        top: 5%;
        right: 5%;
        position: absolute;
        /*float: right;*/
    }
}

.top-row {
    margin-top: 5%;
}

.bottom-row {
    bottom: 5%;
}