/*font-family: 'Roboto Mono', monospace;*/
/*font-family: 'Inconsolata', monospace;*/
/*font-family: 'Work Sans', sans-serif;*/
/*font-family: 'Prompt', sans-serif;*/

body {
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

.banner {
    width: 100%;
    overflow: hidden;
}

.top-background {
    /*  making the video fullscreen  */
    min-width: 100%;
    min-height: 600px;
    max-height: 700px;
    height: auto;
    z-index: -100;
    pointer-events:none;
}
@media only screen and (min-width: 480px) {
    .top-background {
        max-height: initial;
        min-height: 800px;
    }
}
@media only screen and (min-width: 768px) {
    .top-background {
        min-height: 100vh;
    }
}
.top-background.placeholder {
    z-index: -150;
    position: absolute;
    background: black;
    color: #6dcafa;
    top: 0;
    bottom: 0;
}

.brand {
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 0.6em;
}

.gsw-logo {
    width: 250px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}
@media only screen and (min-width: 480px) {
    .gsw-logo {
        width: 400px;
    }
}
@media only screen and (min-width: 768px) {
    .gsw-logo {
        margin-bottom: 50px;
    }
}

.section {
    padding: 40px 15%;
    font-size: 1em;
    background-color: white;
}
@media only screen and (min-width: 480px) {
    .section {
        padding: 70px 15%;
        font-size: 1.4em;
    }
}

.section-header {
    font-size: 1em;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}
@media only screen and (min-width: 480px) {
    .section-header {
        font-size: 2em;
    }
}

.section-header-light {
    font-size: 0.8em;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 20px;
}
@media only screen and (min-width: 480px) {
    .section-header-light {
        font-size: 1.7em;
    }
}

#newsletter_section {
    padding-top: 20px;

}
#newsletter_section .section-header {
    margin-top: 0;
}

.parallax-window {
    min-height: 200px;
}
@media only screen and (min-width: 480px) {
    .parallax-window {
        min-height: 400px;
    }
}

#section2 {
    width: 100%;
    height: 200px;
    position: relative;
    align-items: center;
}
@media only screen and (min-width: 480px) {
    #section2 {
        min-height: 400px;
    }
}

#numbers {
    margin: 0 auto;
    width:70%;
    padding-top: 100px;
}
.number-section {
    font-size:3em;
    display: inline-block;
    margin-right: 9%;
}

.number {
    font-size: 1.5em;
    color: #dd4f33;
}

.number-label {
    color: white;
}

.parallax-text {
    font-size: 4em;
    font-weight: 800;
    color: white;
    text-align: center;
    line-height: 200px;
}
@media only screen and (min-width: 480px) {
    .parallax-text {
        min-height: 400px;
        line-height: 400px;
    }
}

.brand-text {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}
@media only screen and (min-width: 768px) {
    .brand-text {
        font-size: 25px;
    }
}

.brand-subtitle {
    display: none;
}
@media only screen and (min-width: 480px) {
    .brand-subtitle {
        display: block;
        color: white;
        font-size: 20px;
        font-weight: 500;
        font-style: italic;
        margin-top: 15px;
        margin-bottom: 40px;
    }
}

.brand-title {
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 30px;
}
@media only screen and (min-width: 480px) {
    .brand-title {
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
}

.brand-highlight {
    background-color: red;
    padding: 4px 8px;
}

.brand-button {
    background-color: transparent;
    color: white;
    border: 3px solid white;
    border-radius: 0px;
    font-size: 10px;
    padding: 5px 10px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 10px;
    letter-spacing: 2px;
}
@media only screen and (min-width: 768px) {
    .brand-button {
        font-size: 15px;
        padding: 10px;
    }
}

.brand-theme {
    color: white;
    font-size: 40px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media only screen and (min-width: 480px) {
    .brand-theme {
        font-size: 50px;
    }
}
@media only screen and (min-width: 768px) {
    .brand-theme {
        font-size: 60px;
    }
}

.brand-button:hover {
    opacity: 0.5;
}

.partner-logo {
    width: 200px;
    height: auto;
    margin: 0 auto;
}

@media only screen and (min-width: 480px) {
    .partner-logo {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.countdown-wrapper {
    color: white;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    bottom: 120px;
    left: 5%;
    width: 90%;
    display: block;
}
@media only screen and (min-width: 768px) {
    .countdown-wrapper {
        font-size: 25px;
        bottom: 105px;
        right: 5%;
    }
}

.countdown-wrapper .countdown {
    margin-left: -12px;
}

.countdown {
    margin-right: 5%;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
@media only screen and (min-width: 768px) {
    .countdown {
        float: right;
        bottom: 85px;
        font-size: 25px;
        margin-right: 5%;
    }
}

.timeblock {
    display: inline-block;
    float: left;
    margin-left: 12px;
    text-align: right;
}
@media only screen and (min-width: 768px) {
    .timeblock {
        margin-left: 12px;
    }
}

.time-label {
    font-size: 0.4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #dd4f33;
}

.fa {
    font-size: 3em !important;
    text-align: center !important;
    color: #0A1C3F !important
}

.partner-icon {
    height: 150px;
    display: inline-block;
    margin-right: 15px;
    float: right;
}

#partner-icons {
    display: none;
    right: 5%;
}
@media only screen and (min-width: 768px) {
    #partner-icons {
        display: block;
        top: 5%;
        right: 5%;
        position: absolute;
        /*float: right;*/
    }
}

.top-row {
    margin-top: 5%;
}

.bottom-row {
    bottom: 5%;
}

.header {
    min-height: 100vh !important;
    font-size: 1.5em;
}
@media only screen and (min-width: 480px) {
    .header {
        min-height: 400px !important;
    }
}



/* HEADER CSS */
.navbar {
    background: rgba(10,28,63,1);
    background: -moz-linear-gradient(top, rgba(10,28,63,1) 0%, rgba(8,21,47,1) 25%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(10,28,63,1)), color-stop(25%, rgba(8,21,47,1)), color-stop(100%, rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top, rgba(10,28,63,1) 0%, rgba(8,21,47,1) 25%, rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(top, rgba(10,28,63,1) 0%, rgba(8,21,47,1) 25%, rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(top, rgba(10,28,63,1) 0%, rgba(8,21,47,1) 25%, rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(10,28,63,1) 0%, rgba(8,21,47,1) 25%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a1c3f', endColorstr='#000000', GradientType=0 );
    border: none;
    height: 150px;
    padding: 20px;
    text-transform: uppercase;
}

.navbar-condensed {
    background: rgba(10,28,63,1);
    background: -moz-linear-gradient(top, rgba(10,28,63,1) 0%, rgba(5,15,33,0.92) 48%, rgba(3,8,18,0.88) 72%, rgba(0,0,0,0.8) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(10,28,63,1)), color-stop(48%, rgba(5,15,33,0.92)), color-stop(72%, rgba(3,8,18,0.88)), color-stop(100%, rgba(0,0,0,0.8)));
    background: -webkit-linear-gradient(top, rgba(10,28,63,1) 0%, rgba(5,15,33,0.92) 48%, rgba(3,8,18,0.88) 72%, rgba(0,0,0,0.8) 100%);
    background: -o-linear-gradient(top, rgba(10,28,63,1) 0%, rgba(5,15,33,0.92) 48%, rgba(3,8,18,0.88) 72%, rgba(0,0,0,0.8) 100%);
    background: -ms-linear-gradient(top, rgba(10,28,63,1) 0%, rgba(5,15,33,0.92) 48%, rgba(3,8,18,0.88) 72%, rgba(0,0,0,0.8) 100%);
    background: linear-gradient(to bottom, rgba(10,28,63,1) 0%, rgba(5,15,33,0.92) 48%, rgba(3,8,18,0.88) 72%, rgba(0,0,0,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a1c3f', endColorstr='#000000', GradientType=0 );
    height: 90px;
}

#navbar-logo {
    height: 80px;
    transition:height 0.3s ease-out;
    margin-top: -20px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    font-weight: 600;
    background-color: transparent;
}

.navbar-default .navbar-nav>.active> a:hover, .navbar-default .navbar-nav>li>a:hover {
    color: rgba(255,255,255,0.8);
    font-weight: 600;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: rgba(255,255,255,0.5);
}

.navbar-brand-small {
    height: 60px !important;
}


/* SPEAKER CSS */
.speaker-picture {
    width: 90%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.speaker-picture-association{
    width: 30px;
    height: auto;
    top: 5px;
    left: 5px;
    position: absolute;
}

.speaker-row, .speaker-expanded-bio {
    margin-bottom: 40px;
}

.speaker {
    font-size: 0.8em;
    font-weight: 600;
}

.speaker-expanded-text {
    font-size: 0.7em;
}

.speaker-expanded-name {
    font-weight: 800;
    margin-bottom: 10px;
    font-size: 1.2em;
}


/* TEAM CSS */
.team-picture {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.team-name{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    text-align: left;
}

.team-association, .team-role{
    text-align: left;
}

.team-row, .team-expanded-bio {
    margin-bottom: 40px;
}

.team {
    font-size: 0.8em;
    font-weight: 600;
}

.team-expanded-text {
    font-size: 0.7em;
}

.team-expanded-name {
    font-weight: 800;
    font-size: 1.2em;
}

/*#location-1 {*/
    /*width: 400px;*/
    /*height: 400px;*/
/*}*/
/*#location-2 {*/
    /*width: 400px;*/
    /*height: 400px;*/
/*}*/

.team-expanded-association {
    margin-bottom: 15px;
}

/* LOCATION CSS */
.location-row {
    margin-bottom: 50px;
    margin-top: 10px;
}

.location-row-hotel {
    margin-top: 50px;
}

.location-header {
    font-weight: 700;
    text-transform: uppercase;
    color: #dd4f33;
    margin-bottom: 10px;
}

.location-name{
    text-transform: uppercase;
    font-weight: 400;
    color: black !important;
    letter-spacing: 2px;
}

.location-map{
    margin-top: 20px;
}


/* FOOTER CSS */
#parallax_social_media {
    min-height: 200px;
    margin-top: 100px;
}
@media only screen and (min-width: 480px) {
    #parallax_social_media {
        max-height: 200px;
    }
}

#parallax_social_media_text {
    line-height: 200px;
}
@media only screen and (min-width: 480px) {
    #parallax_social_media_text {
        max-height: 100px;
        line-height: 200px;
    }
}